<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Departamentos</h5>
          <p class="card-text">Administração de departamentos</p>
          <a routerLink="/admin/department" class="btn btn-primary"><i class="fa fa-sign-in" aria-hidden="true"></i> Entrar</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Categorias</h5>
          <p class="card-text">Administração de categorias</p>
          <a routerLink="/admin/category" class="btn btn-primary"><i class="fa fa-sign-in" aria-hidden="true"></i> Entrar</a>
        </div>
      </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Produtos</h5>
          <p class="card-text">Administração de produtos</p>
          <a routerLink="/admin/product" class="btn btn-primary"><i class="fa fa-sign-in" aria-hidden="true"></i> Entrar</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Usuários</h5>
          <p class="card-text">Administração de usuários</p>
          <a routerLink="/admin/user" class="btn btn-primary"><i class="fa fa-sign-in" aria-hidden="true"></i> Entrar</a>
        </div>
      </div>
    </div>
  </div>
