<main class="form-signin w-100 m-auto">
    <form>
      <h1 class="h3 mb-3 fw-normal" style="text-align: center;">FAZER LOGIN</h1>
  
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="nome@exemplo.com">
        <label for="floatingInput">E-mail</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Senha">
        <label for="floatingPassword">Senha</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit"><i class="fa fa-sign-in" aria-hidden="true"></i> Entrar</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2023</p>
    </form>
  </main>